@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
    .input-login {
        @apply block px-3 py-1.5 text-center text-base font-normal text-gray-700 bg-white border border-solid border-gray-300 rounded transition ease-in-out m-0 focus:text-gray-700 focus:bg-white focus:border-blue-600 focus:outline-none;
    }

    .table-row {
        @apply border-2;
    }
}

/* .table-row:hover {
    
} */

table {
    overflow: hidden;
}

tr:hover::after {
    content: '';
    background-color: rgba(0, 0, 0, .2);
    z-index: 10
}

td,
th {
    position: relative;
}

td:hover::after,
th:hover::after {
    content: '';
    position: absolute;
    background-color: rgba(0, 0, 0, .2);
    left: 0;
    top: -5000px;
    height: 10000px;
    width: 100%;
    z-index: 10;
}
